{% extends 'regFlask/base.html' %}

{% block body %}

    <div class="card-heading"></div>
    <div class="card-body">
        <h2 class="title">{% if lang == 'ru' %} Регистрация {% else %} Registration {% endif %}</h2>
        <form method="POST" action="">
            <div class="row">
                <div class="input-group">
                    <input class="input--style-3" type="text" {% if lang == 'ru' %} placeholder="Имя" {% else %} placeholder="FirstName" {% endif %} name="firstname" value="{{ user[0] }}" required>
                </div>
                <div class="input-group">
                    <input class="input--style-3" type="text" {% if lang == 'ru' %} placeholder="Фамилия" {% else %} placeholder="LastName" {% endif %} name="lastname" value="{{ user[1] }}" required>
                </div>
{#                <div class="input-group">#}
{#                    <input class="input--style-3" type="text" placeholder="MidName" name="midname" value="{{ user[2] }}" required>#}
{#                </div>#}
                </div>
            <div class="input-group">
                <textarea class="input--style-3" {% if lang == 'ru' %} placeholder="О себе" {% else %} placeholder="About yourself" {% endif %} cols="30" rows="1" name="about" required>{{ user[5] }}</textarea>
            </div>

            <div class="input-group">
                <input class="input--style-3" type="email" {% if lang == 'ru' %} placeholder="Электронная почта" {% else %} placeholder="Email" {% endif %} name="email" value="{{ user[2] }}" required>
            </div>
{#            <div class="input-group">#}
{#                <input class="input--style-3" type="tel" placeholder="Phone" name="phone" value="{{ user[3] }}" required>#}
{#            </div>#}
            <div class="input-group">
                <input class="input--style-3" type="text" {% if lang == 'ru' %}placeholder="Профиль LinkedIn" {% else %} placeholder="LinkedIn profile" {% endif %} value="{{ user[3] }}" name="socLink">
{#                <input class="input--style-3" type="text" pattern="(https?)?.*linkedin\.com.*" placeholder="LinkedIn profile" value="{{ user[3] }}" name="socLink" oninvalid="this.setCustomValidity('Your LinkedIn profile link')" required>#}
            </div>

            <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                    <h5 class="title" style="font-size: 16px; color: #cccccc">{% if lang == 'ru' %} Роль {% else %} Role {% endif %}</h5>
                    <select id="role" name="role" onchange="showAdditionalFields()">
                        <option value="Investor" {% if user[4] == "Investor" or user[4] == ""%} selected="selected" {% endif %}>{% if lang == 'ru' %} Инвестор {% else %} Investor {% endif %}</option>
                        <option value="Startupper" {% if user[4] == "Startupper"%} selected="selected" {% endif %}>{% if lang == 'ru' %} Стартаппер {% else %} Startupper {% endif %}</option>
                        <option value="HR" {% if user[4] == "HR"%} selected="selected" {% endif %}>{% if lang == 'ru' %} HR {% else %} HR {% endif %}</option>
                        <option value="Employee" {% if user[4] == "Employee"%} selected="selected" {% endif %}>{% if lang == 'ru' %} Работник {% else %} Employee {% endif %}</option>
                    </select>
                    <div class="select-dropdown"></div>
                </div>
            </div>



{#        <div id="additionalFieldsInvestor" style="display: block;">#}
            <div class="input-container">
                <div class="input-group">
                    <input class="input--style-3" type="text" id="interestedIn" {% if lang == 'ru' %}placeholder="Интересующие сферы" {% else %} placeholder="Areas of interest" {% endif %} name="interestedIn" value="{{ user[6]}}" required>
                    <span id="interestedInHint" class="tooltiptext" >{% if lang == 'ru' %} Напишите все интересующие вас сферы,<p> разделив их запятой</p> {% else %} Write all the areas you are interested in, <p> separating them with a comma</p> {% endif %}</span>
{#                    <span id="startuppHint" class="tooltiptext" >You have chosen "Statupper" role, you should<p>write only  one field, if you write more, the </p><p> system will take first</p></span>#}
                </div>
            </div>

            <div class="input-container">
                <div class="input-group">
                    <input class="input--style-3" type="text" id="workWith" {% if lang == 'ru' %}placeholder="Рабочие сферы" {% else %} placeholder="Work areas" {% endif %} name="workWith" value="{{ user[7]}}" required>
                    <span id="workWithHint" class="tooltiptext" >{% if lang == 'ru' %} Напишите сферы, в которых вы работаете,<p> разделив их запятой</p> {% else %} Write the areas in which you work, <p> separating them with a comma</p> {% endif %}</span>
{#                    <span id="startuppHint" class="tooltiptext" >You have chosen "Statupper" role, you should<p>write only  one field, if you write more, the </p><p> system will take first</p></span>#}
                </div>
            </div>
            <br><br>
{#        </div>#}



{#        <div id="additionalFieldsStartup" style="display: none;">#}
{#            <div class="input-group">#}
{#            <h5 class="title" style="font-size: 16px; color: #cccccc">Fields</h5>#}
{#                {% for field in fields%}#}
{##}
{#                     <div class="radio-pair">#}
{#                        <label for="{{ field[0][1] }}" style="color: #cccccc">{{ field[0][1] }}</label>#}
{#                        <input id="{{ field[0][1] }}" type="radio" value="{{ field[0][0] }}" name="fieldS">#}
{##}
{#                        <label for="{{ field[1][1] }}" style="color: #cccccc">{{ field[1][1] }}</label>#}
{#                        <input id="{{ field[1][1] }}" type="radio" value="{{ field[1][0] }}" name="fieldS">#}
{#                    </div>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

            <div id="additionalFields" {% if user[4] == "Startupper" %}style="display: block;" {% else %} style="display: none;" {% endif %}>
                 <div class="input-group">
                    <input class="input--style-3" id="startupName" type="text" {% if lang == 'ru' %} placeholder="Название стартапа" {% else %} placeholder="Startup Name" {% endif %}  name="startupName" value="{{ user[8] }}">
                </div>

                 <div class="input-group">
                    <input class="input--style-3" id="startupDescription" type="text" {% if lang == 'ru' %} placeholder="Описание стартапа" {% else %} placeholder="Startup Description" {% endif %} name="startupDescription" value="{{ user[9] }}">
                </div>
            </div>

            <input type="hidden" name="userId" value="{{ user_id }}">

            <div class="p-t-10">
                <button class="btn btn--pill btn--green" type="submit">{% if lang == 'ru' %} Отправить {% else %} Submit {% endif %}</button>
            </div>
        </form>
    </div>
    {% endblock body %}