{% extends 'regFlask/base.html' %}

{% block body %}

    <div class="card-heading"></div>
    <div class="card-body">
        <h2 class="title">Registration</h2>
        <form method="POST" action="">
            <div class="row">
                <div class="input-group">
                    <input class="input--style-3" type="text" placeholder="FirstName" name="firstname" value="{{ user[0] }}" required>
                </div>
                <div class="input-group">
                    <input class="input--style-3" type="text" placeholder="LastName" name="lastname" value="{{ user[1] }}" required>
                </div>
{#                <div class="input-group">#}
{#                    <input class="input--style-3" type="text" placeholder="MidName" name="midname" value="{{ user[2] }}" required>#}
{#                </div>#}
                </div>

            <div class="input-group">
                <input class="input--style-3" type="email" placeholder="Email" name="email" value="{{ user[2] }}" required>
            </div>
{#            <div class="input-group">#}
{#                <input class="input--style-3" type="tel" placeholder="Phone" name="phone" value="{{ user[3] }}" required>#}
{#            </div>#}
            <div class="input-group">
                <input class="input--style-3" type="text" pattern="(https?)?.*linkedin\.com.*" placeholder="LinkedIn profile" value="{{ user[3] }}" name="socLink" oninvalid="this.setCustomValidity('Your LinkedIn profile link')" required>
            </div>

            <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                    <h5 class="title" style="font-size: 16px; color: #cccccc">Role</h5>
                    <select id="role" name="role" onchange="showAdditionalFields()">
                        <option value="Investor" {% if user[4] == "Investor" or user[4] == ""%} selected="selected" {% endif %}>Investor</option>
                        <option value="Startupper" {% if user[4] == "Startupper"%} selected="selected" {% endif %}>Startupper</option>
                        <option value="HR" {% if user[4] == "HR"%} selected="selected" {% endif %}>HR</option>
                        <option value="Employee" {% if user[4] == "Employee"%} selected="selected" {% endif %}>Employee</option>
                    </select>
                    <div class="select-dropdown"></div>
                </div>
            </div>



{#        <div id="additionalFieldsInvestor" style="display: block;">#}
            <div class="input-container">
                <div class="input-group">
                    <input class="input--style-3" type="text" id="fields" placeholder="Fields" name="fields" value="{{ user[5]}}" required>
                    <span id="othersHint" class="tooltiptext" >Please write all fields you are interested<p> in separating them with a comma</p></span>
{#                    <span id="startuppHint" class="tooltiptext" >You have chosen "Statupper" role, you should<p>write only  one field, if you write more, the </p><p> system will take first</p></span>#}
                </div>
            </div>
            <br><br>
{#        </div>#}



{#        <div id="additionalFieldsStartup" style="display: none;">#}
{#            <div class="input-group">#}
{#            <h5 class="title" style="font-size: 16px; color: #cccccc">Fields</h5>#}
{#                {% for field in fields%}#}
{##}
{#                     <div class="radio-pair">#}
{#                        <label for="{{ field[0][1] }}" style="color: #cccccc">{{ field[0][1] }}</label>#}
{#                        <input id="{{ field[0][1] }}" type="radio" value="{{ field[0][0] }}" name="fieldS">#}
{##}
{#                        <label for="{{ field[1][1] }}" style="color: #cccccc">{{ field[1][1] }}</label>#}
{#                        <input id="{{ field[1][1] }}" type="radio" value="{{ field[1][0] }}" name="fieldS">#}
{#                    </div>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

            <div id="additionalFields" {% if user[4] == "Startupper" %}style="display: block;" {% else %} style="display: none;" {% endif %}>
                 <div class="input-group">
                    <input class="input--style-3" id="startupName" type="text" placeholder="Startupp Name" name="startupName" value="{{ user[6] }}">
                </div>

                 <div class="input-group">
                    <input class="input--style-3" id="startupDescription" type="text" placeholder="Startupp Description" name="startupDescription" value="{{ user[7] }}">
                </div>
            </div>

            <input type="hidden" name="userId" value="{{ user_id }}">

            <div class="p-t-10">
                <button class="btn btn--pill btn--green" type="submit">Submit</button>
            </div>
        </form>
    </div>
    {% endblock body %}