{% extends 'regFlask/base.html' %}

{% block body %}

    <div class="card-body">
        <h1 class="title" style="color: darkred">{% if lang == 'ru' %} Ваша ссылка была деактивирована! {% else %} Your link was deactivated! {% endif %}</h1>
        <h1 class="title" style="color: #aaaaaa">{% if lang == 'ru' %} Вернитесь к боту и снова активируйте свою ссылку {% else %} Return to the bot and activate your link again! {% endif %}</h1>

        <p><a href="https://t.me/{{ bot }}?start" class="btn btn--pill btn--blue" style="text-decoration: none">{% if lang == 'ru' %} Открыть Telegram {% else %} Open Telegram {% endif %}  <i class="fa fa-paper-plane"></i></a></p>
    </div>
{% endblock %}
